html, body {
	height: 100%;
}

/*******************************/
/*Navbar*/
/*******************************/

.navbar {
	padding: 0;
}

.navbar-nav {
	position: absolute;
	top: 0px;
	right: 10px;
	z-index: 1;
	font-size: 1.4em;
	padding-bottom: 10px;
}

.navbar-brand {
	position: absolute;
	top: 10px;
	left: 15px;
	z-index: 1;
	text-align: left;
}

.navbar-brand img {
	width: 150px;
}

.navbar .navbar-toggler {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 1;
}

@media (max-width: 991px) { /*Adds background for mobile*/
	.navbar-nav {
		background-color: rgba(47,78,111, 0.4);
		border-radius: 5px;
		padding: 0 10px;
	}
}

@media (max-width: 768px) {
	.navbar-brand img {
		width: 75px;
	}

	.navbar-nav {
		font-size: .9em;
	}
}



/*******************************/
/*Backgrounds*/
/*******************************/

/*Central*/

.central-left {
	background-image: url('../img/arizona_canyon.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.central-right {
	background-color: silver;
}

/*Chronicle*/

.chronicle {
	background-color: #2f4e6f;

}

/*Techniques*/

.techniques {
	background-color: lightslategrey;
	background-image: url('../img/hills.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*Current*/

.current {
	background-color: #C8D7E3;
}

/*Ventures*/

.ventures {
	background-color: #98B1C4;
}

/*Connection*/

.connect {
	background-color: #C8D7E3;
	background-image: url('../img/sunset.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*Helps backgrounds load properly*/

.carousel-item {
	height: 100%;
}



/*******************************/
/*Misc*/
/*******************************/

/*
The below is from this link:
https://stackoverflow.com/questions/16350902/bootstrap-carousel-full-screen
it explains that you want to make sure the img inside the carousel item is
set to height and width 100%. You also have to make sure the carousel and
any of the .item containers (html, body) are 100%
*/

.carousel, .item, .active {
	height:100%;
}

.carousel-inner {
	height:100%;
}

/*************************************/

/*Titles for slides*/

.jo-title {
	position: absolute;
	top: 35px;
	left: 125px;
}

@media (max-width: 768px) {
	.jo-title {
		position: absolute;
		top: 26px;
		left: 68px;
	}
}

.title-reduce {
	font-size: 2.5em;
}

@media (max-width: 768px) {
	.title-reduce {
		font-size: 1.8em;
	}

	.title-reduce:nth-child(3) {
		border-top: 2px solid #ed650e;
	}
}

/*Colors*/

	/*Shades of orange*/
	/*E08226 Lightest of Oranges on page (far right of graph and social buttons)*/
	/*E07226*/
	/*E06226*/
	/*E05326*/
	/*E04226*/
	/*E03326 Darkest of Oranges on page (far left of graph)*/



/*******************************/
/*Page Alterations*/
/*******************************/

/*Central*/

.central-left-heading {
	position: absolute;
	top: 50%; left: 90%;
	transform: translate(-90%, -50%);
	width: 80%; height: auto;
	text-align: right;
	color: silver;
}

.central-right {
	color: white;
}

.central-right-heading {
	position: absolute;
	top: 50%; left: 10%;
	transform: translate(-10%, -50%);
	width: 80%; height: auto;
	color: #336699;
}

h1:first-child {
	margin-bottom: 5px;
}

.hr-border {
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #ed650e;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 440px;
}

@media (max-width: 1064px) {
	.hr-border {
		width: 320px;
	}
}

@media (max-width: 767px) {

	.central-left-heading {
		position: absolute;
		top: 100%; left: 50%;
		transform: translate(-50%, -100%);
		width: 80%; height: auto;
		text-align: center;
		color: silver;
	}

	.central-right-heading {
		position: absolute;
		top: 0%; left: 50%;
		transform: translate(-50%, 0%);
		width: 60%; height: auto;
		text-align: center;
		color: #336699;
	}



	.hr-border {
		display: none;
	}

}

/*Chronicle*/

.chronicle {
	color: silver;
}

.chron-holder {
	height: 100vh;
}

.profile-image {
	border: 2px solid #E15119;
}

.chron-name {
	border-bottom: 2px solid #E15119;
	font-size: 2.3em;
}

.btn-outline-light:hover {
	color: #2f4e6f;
}

.btn-outline-light:active {
	color: #2f4e6f;
}

.btn-contact, .btn-resume {
	border-color: #E15119;
}

@media (max-width: 767px) {

	.chron-name {
		margin-top: 20px;
		font-size: 1.4em;
	}

	.chron-para-2, .chron-para-3 {
		font-size: 0.8em;
	}

	.chron-para-2 {
		margin-bottom: 16px !important;
	}

	.chron-para-3 {
		padding-top: 0 !important;
	}

	#btn-github, #btn-resume, #btn-contact {
		font-size: .8em;
	}

}

/*Techniques*/

.techniques {
	color: white;
}

.tech-holder {
	height: 100vh;
}

.tech-header {
	border-bottom: 2px solid #E15119;
	font-size: 2.3em;
}

@media (max-width: 767px) {

	.tech-header {
		font-size: 1.5em;
	}

	.tech-para {
		font-size: 0.7em;
	}

	.graph-div {
		margin-top: 100px;
	}
}

/*Current*/

.current {
	color: #485f72;
}

.current-container {
	height: 100vh;
}

.current-header {
	font-size: 2.3em;
	border-bottom: 2px solid #E15119;
}

.badge-header {
	font-size: 2em;
}

.badge-text {
	font-size: 1em;
}

.track-header {
	font-size: 2em;
	margin-top: 50px;
}

.track {
	color: #C25975 !important;
}

.track a {
	text-decoration: none;
}

@media (max-width: 991px) {

	.current-header {
		font-size: 1.5em;
	}

	.badge-header {
		font-size: 1.5em;
	}

	.badge-text {
		font-size: .8em;
	}

	.track-header {
		font-size: 1.3em;
		margin-top: 30px;
	}
}

/*Ventures*/

.ventures {
	color: #2f4e6f;
	overflow-x: hidden;
}

.venture-holder {
	height: 100vh;
}

.vent-header {
	font-size: 2.3em;
	border-bottom: 2px solid #E15119;
}

/*Project Carousel CSS*/

.container-slider {
  margin: auto;
  width: 100%;
  height: 300px;
  max-width: 900px;   
  position: relative;
  overflow: hidden;
  box-shadow: 0 15px 50px;
}

.slider {
  display: flex;
  width: 300%; /*Increase 100% every project added*/
  height: 300px;
}

.slider__section {
  width: 100%;
  height: 300px;
}

.btn-prev, .btn-next {
  width: 45px;
  height: 300px;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 300px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: monospace;
  cursor: pointer;
  color: white;
}

.btn-prev:hover, .btn-next:hover {
  background: rgba(255, 255, 255, 0.4);
}

.btn-prev {
  left: 0px;
}

.btn-next {
  right: 0px;
}

/*******************************/
/*Projects*/
/*******************************/

#project-one {
	background-image: url('../img/tax_site_02.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#project-two {
	background-image: url('../img/street.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#project-three {
	background-image: url('../img/assistance_site_02.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.inner-project-div {
	color: white;
	background-color: rgba(225,81,25, .8);
	margin: auto;
	height: 300px;
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.project-para {
	font-size: 1.0em;
	width: 80%;
	margin: 0 auto;
}

.btn-projects:hover {
	color: rgba(225,81,25, 1.0);
}

#coming-soon {
	background-color: #8294a8;
	background-image: url('../img/.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#coming-soon-inner {
	background-color: rgba(225,81,25, .8);
}

/*Venture slide media queries*/

@media (max-width: 991px) {
	.vent-header {
		font-size: 1.5em;
	}
	.vent-para {
		font-size: 0.7em;
		margin-bottom: 20px !important;
	}
	.project-header {
		font-size: 1.5em;
	}
	.project-para {
		font-size: 0.7em;
	}
}

/*Connection*/

.connect {
	color: white;
}

.connection-container {
	height: 100vh;
}

.connect-header {
	font-size: 2.3em;
	border-bottom: 2px solid #E15119;
}

#link {
	padding: 0 30px;
}

/* unvisited link */
.connect-icons a:link {
    color: white;
}

/* visited link */
.connect-icons a:visited {
    color: white;
}

/* mouse over link */
.connect-icons a:hover {
    color: #E08226;
}

/* selected link */
.connect-icons a:active {
    color: #E05326;
}

#name, #email, #message {
	background-color: rgba(200, 215, 227, 0.5);
	color: white;
}

#name:focus, #email:focus, #message:focus {
	border-color: #E15119;
}

.form-control {
	border-color: white;
	color: white;
}

.submit-btn {
	border-radius: 100%;
	background-color: rgba(200, 215, 227, 0.5);
}

/*Alters placeholder for form text color*/

input::-webkit-input-placeholder {
color: white !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
input:-ms-input-placeholder {  
color: white !important;  
}

textarea::-webkit-input-placeholder {
color: white !important;
}
 
textarea:-moz-placeholder { /* Firefox 18- */
color: white !important;  
}
 
textarea::-moz-placeholder {  /* Firefox 19+ */
color: white !important;  
}
 
textarea:-ms-input-placeholder {  
color: white !important;  
}

@media (max-width: 767px) {
	.connect-header {
		font-size: 1.5em;
		margin-top: 40px;
	}

	.con-para {
		font-size: 0.7em;
		padding-bottom: 20px !important;
		margin-bottom: 0;
	}

	.connect-icons {
		font-size: 0.7em;
		padding-bottom: 20px !important;
	}

	.email-input, .message-input, .submit-div {
		padding-top: 10px;
	}
}

